In [1]:
from pyarrow import dataset as ds
from pyarrow import parquet as pq
import pyarrow as pa
import pandas as pd
import mmd_utils as mmt

In [5]:
# Let's read the data as pyarrow table
dataset = ds.dataset(
        "s3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/",
        partitioning=["year", "month"],
)

In [10]:
files = [f"s3://anonymous@{file}" for file in dataset.files]
print(files, len(files))

['s3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/01/data.parquet/4d6bc4368704460d90c92c22e05a2220_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/02/data.parquet/e817946252d1409b93964685130e76cb_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/03/data.parquet/0b7e5121a4904c64be5e91ceec0eee2f_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/04/data.parquet/f40c2c2806e548bfac8336de9c19a423_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/05/data.parquet/a5de27164fda47988dec2576685656ae_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/06/data.parquet/df104576ffed4e308b72941df90f7790_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/07/data.parquet/ccdef45e50de4678b7e589155f372a3d_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/08/data.parquet/9d605bf8abf84655997d491bc5a10a4c_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/09/data.parquet/b200f3d9bf9f485ebd3b20c0c08711e1_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/10/data.parquet/20624e28db574114b47de3e43065f014_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/11/data.parquet/9c3fe546f3d746eeb3225b8150fb26e6_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2018/12/data.parquet/d9829239c5d34340a7d9ba256917ed98_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2019/01/data.parquet/ecce6478ad09480cbc8539e0b6197c2d_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2019/02/data.parquet/5bc40cf9bc1145cbb0867d39064daa01_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2019/03/data.parquet/8b894872a484458cbd5a6cd0425b77df_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2019/04/data.parquet/7e490662e39c4bfe8c64c6a2c45c9e8b_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2019/05/data.parquet/359c21b3e28f40328e68cf66f7ba40e2_000000.parquet', 's3://anonymous@air-example-data/ursa-labs-taxi-data/by_year/2019/06/data.parquet/ab5b9d2b8cc94be19346e260b543ec35_000000.parquet'] 18

In [9]:
for f in files:
    df = pq.read_table(
        file,
        # filters=[("pickup_location_id", "=" 25)],
        columns=[
            "pickup_at",
            "dropoff_at",
            "pickup_location_id",
            "dropoff_location_id",
        ],
    ).to_pandas()
    print(df.shape)

(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)
(6941024, 4)

In [40]:
display(df.head(5))

,pickup_at,dropoff_at,pickup_location_id,dropoff_location_id
0,2019-06-01 00:05:58,2019-06-01 00:17:01,25,97
1,2019-06-01 00:50:49,2019-06-01 00:53:58,25,25
2,2019-06-01 00:33:28,2019-06-01 00:35:41,25,181
3,2019-06-01 00:09:27,2019-06-01 00:23:05,25,89
4,2019-06-01 00:04:32,2019-06-01 00:09:51,25,181

In [46]:
transform_df = mmt.transform_batch(df)

In [47]:
display(transform_df.head(5))

,pickup_at,dropoff_at,pickup_location_id,dropoff_location_id,trip_duration
0,2019-06-01 00:05:58,2019-06-01 00:17:01,25,97,663
1,2019-06-01 00:50:49,2019-06-01 00:53:58,25,25,189
2,2019-06-01 00:33:28,2019-06-01 00:35:41,25,181,133
3,2019-06-01 00:09:27,2019-06-01 00:23:05,25,89,818
4,2019-06-01 00:04:32,2019-06-01 00:09:51,25,181,319