### Feature Engineering Techniques: Categorical Encoding

This is the third notebook in a series of hands-on methods of [feature engineering techniques](https://heartbeat.fritz.ai/hands-on-with-feature-engineering-techniques-variables-types-b2120e534680)

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame({'country': ['russia', 'germany', 'australia','korea']})
df_get_dummied = pd.get_dummies(df['country'], prefix='country')
df_get_dummied

   country_australia  country_germany  country_korea  country_russia
0                  0                0              0               1
1                  0                1              0               0
2                  1                0              0               0
3                  0                0              1               0

In [16]:
df2 = pd.DataFrame({'color': ['yellow', 'blue', 'red']})
df2_get_dummied = pd.get_dummies(df2['color'], prefix='color')
df2_get_dummied

   color_blue  color_red  color_yellow
0           0          0             1
1           1          0             0
2           0          1             0