In [2]:
import pandas as pd

In [3]:
path="/Users/julesdamji/examples/py/feature_store/feature_repo/data/driver_stats.parquet"
df = pd.read_parquet(path=path)
df.head(5)

,datetime,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2021-05-06 10:00:00+00:00,1005,0.999493,0.251107,761,2021-05-21 10:52:52.668
1,2021-05-06 11:00:00+00:00,1005,0.077831,0.472850,906,2021-05-21 10:52:52.668
2,2021-05-06 12:00:00+00:00,1005,0.193274,0.700155,41,2021-05-21 10:52:52.668
3,2021-05-06 13:00:00+00:00,1005,0.302772,0.781375,374,2021-05-21 10:52:52.668
4,2021-05-06 14:00:00+00:00,1005,0.239107,0.648385,602,2021-05-21 10:52:52.668

In [6]:
wine_path = "/Users/julesdamji/examples/py/feature_store/data/wine_features.parquet"
wine_df = pd.read_parquet(wine_path)
wine_df.head(10)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5